<!--navigation menu start-->
<header>
    <nav class="navbar navbar-expand-sm navbar-dark">
        <!--brand-->
        <a class="navbar-brand" href="/">My Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--collapsible nav menu with search-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--search-->
            <!--<form class="form-inline my-2 my-sm-0">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-info" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>-->
            <!--navigation menu-->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i> Cart</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> User Management
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{# if login}}
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        {{ else }}
                            <a class="dropdown-item" href="/signup">Sign Up</a>
                            <a class="dropdown-item" href="/signin">Sign In</a>
                        {{/if}}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!--navigation menu end-->