* {
  box-sizing: border-box;
}

body {
  padding-top: 56px;
}

/* Navigation Menu Style Start */

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgb(20, 20, 20);
  z-index: 5;
}

nav.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

nav.navbar .navbar-collapse {
  flex-grow: unset;
}

nav.navbar .navbar-collapse ul {
  margin-left: 20px;
}

/* Navigation Menu Style End */

/*Shop styles start*/

.shop {
  position: relative;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.shop .card {
  max-width: 18rem;
  max-height: 400px;
  display: inline-flex;
  margin: 0 auto 20px;
  border: 1px solid rgb(200, 200, 200);
}

.shop .card:hover {
  box-shadow: 0 0 10px grey;
}

.shop .card .card-text {
  height: 100px;
  overflow: hidden;
  /*hide overflow above four lines*/
  /*display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;*/
}

.shop .card a {
  margin-bottom: 5px;
}

/*Shop styles end*/

/*sign up page styles start*/

section#signup .row{
  height: 500px;
  justify-content: center;
  align-content: center;
}

section#signup .row h3 {
  text-align: center;
}

section#signup .row form {
  margin: 20px auto;
  padding: 20px 40px;
}

/*sign up page styles start*/