* {
  box-sizing: border-box;
}

html {
  position: relative;
}

body {
  padding-top: 56px;
  padding-bottom: 50px;
  min-height: 100vh;
  margin-bottom: 0;
}

/* Navigation Menu Style Start */

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgb(20, 20, 20);
  z-index: 5;
}

nav.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

nav.navbar span.badge {
  background: rgba(255,255,255,0.5);
}

nav.navbar .navbar-collapse {
  flex-grow: unset;
}

nav.navbar .navbar-collapse ul {
  margin-left: 20px;
}

/* Navigation Menu Style End */

/*Footer style start*/

footer {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  color: rgba(255,255,255,0.5);
  margin-bottom: 0;
  background: rgb(20, 20, 20);
  text-align: center;
}

/*Footer style end*/

/*Shop styles start*/

.shop {
  position: relative;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.shop .card {
  max-width: 18rem;
  max-height: 400px;
  display: inline-flex;
  margin: 0 auto 20px;
  border: 1px solid rgb(200, 200, 200);
}

.shop .card:hover {
  box-shadow: 0 0 10px grey;
}

.shop .card .card-text {
  height: 100px;
  overflow: hidden;
  /*hide overflow above four lines*/
  /*display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;*/
}

.shop .card a {
  margin-bottom: 5px;
}

/*cart styles*/
section.cart .row{
  justify-content: center;
  /*min-height: 500px;*/
}

section.cart h3 {
  margin-top: 50px;
  text-align: center;
}

section.cart .row .msg {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

section.cart .row .msg a {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

section.cart .row ul {
  margin-top: 10px;
}

section.cart .row .price {
  float: right;
  font-weight: 600;
}

section.cart .row .total {
  border-bottom: none;
}

section.cart .row ul a.btn {
  position: initial;
  float: right;
  margin: 0 2px;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

/*section.cart .row div.btn-group .btn-sm {
  padding: 2px 5px;
  font-size: 10px;
}

section.cart .row div.btn-group .dropdown-toggle::after {
  margin-left: 0;
  vertical-align: 2px;
}*/

section.cart .row a.btn {
  position: relative;
  top: 30px;
  right: 30px;
  float: right;
}

/*checkout styles*/
section.checkout .row form textarea {
  resize: none;
}
section.checkout .row{
  justify-content: center;
}

section.checkout h3 {
  margin-top: 50px;
  text-align: center;
}

section.checkout .row form {
  margin: 20px auto;
  padding: 20px 40px;
}

section.checkout .row form .price{
  font-weight: 600;
}

section.checkout .row form .credit-card {
  padding: 10px 5px;
  border: 1px rgb(200, 200, 200) solid;
  border-radius: 5px;
}

/*section.checkout .row form .credit-card:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}*/

/*Shop styles end*/

/*User Pages Start*/
/*signup / signin page styles start*/

section.login .row{
  height: 500px;
  justify-content: center;
  align-content: center;
}

section.login .row h3 {
  text-align: center;
}

section.login .row .alert {
  margin: 20px 40px;
}

section.login .row form {
  margin: 20px auto;
  padding: 20px 40px;
}

/*signup / signin page styles end*/

/*User Profile Styles start*/

/*cart styles*/
section.profile .row{
  justify-content: center;
  /*min-height: 500px;*/
}

section.profile h3 {
  margin-top: 50px;
  text-align: center;
}

section.profile .row .msg {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

section.profile .row ul {
  margin-top: 10px;
}

section.profile .row .price {
  float: right;
  font-weight: 600;
}

/*User Profile Styles end*/
/*User Pages End*/

/*Admin Pages Start*/

/*Add item to inventory*/
section.item>.row{
  margin-top: 70px;
  justify-content: center;
  align-content: center;
}

section.item .row h3 {
  text-align: center;
}

section.item .row form {
  margin: 20px auto;
  padding: 20px 40px;
}

section.item .row form textarea {
  resize: none;
}

/*Admin Pages End*/

